
body {

  background: #eee url("../img/login_sprites.png") repeat-x left -958px !important;
}

#body {
        
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
    height: 100%;

}

html, body
{
    
}

#cornerlogo {
    background-image: url("../img/sun.png");
    background-repeat: no-repeat;
    background-position-x: -60px;
    background-position-y: -80px;
    height: 100%;
}

#maincontent {
    background-color: #ffffff;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;

    height:  95%;
    overflow:hidden;
    padding-bottom: 20px;
}

#newpagecontent {
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    width: inherit;
    overflow-x:hidden;
    opacity:.8;
}


.bidtolow {
    background-color: #990000;
    color: #ffffff;
}
.bidfine {
    background-color: #008000;
    color: #ffffff;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}

.featureImg {
    margin-bottom: 15px;
}


.carousel .item {
  height: 330px;
  background-color:#FFFFFF;
  text-align: center;
}

.carousel .item > img {
    margin-left: auto;
    margin-right: auto;
}

.gridSpacing
{
    text-align:left;
    width:inherit;
    padding-top:10px;
    padding-bottom:10px;   
}
.gridAddBox
{
    text-align:left;
    width:inherit;
    padding:3px 3px 3px 3px;
    border: solid 1px #3a3a3a;
}
.gridOverall
{
    padding: 2px 2px 2px 2px;   
    border: solid 1px #3a3a3a;
}
.gridRow
{
    text-align:left;
    color:Black;
    background-color:White;
}
.gridRow a
{
    color:#3a3a3a;   
    text-decoration:none;
}
.gridAltRow
{
    text-align:left;
    color:Black;
    background-color:#ededee;
}
.gridAltRow a
{
    color:#3a3a3a;   
    text-decoration:none;
}
.gridHeader
{
    text-align:left;
    color:#000;
    background-color:#507CD1;
}
.gridHeader a
{
    color:#ffffff;   
    text-decoration:none;
}

#overlay {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    filter: Alpha(Opacity=90);
    opacity: 0.9;
    -moz-opacity: 0.9;
}            
#theprogress {
    background-color: #fff;
    border:1px solid #ccc;
    padding:10px;
    width: 300px;
    height: 30px;
    line-height:30px;
    text-align: center;
    filter: Alpha(Opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
#modalprogress {
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
    color: #990000;
    font-weight:bold;
    font-size:14px;
}

#pnlSearch {
    padding:13px 13px 13px 13px;
}

.nav-tabs > li {
    background-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  cursor: default;
  background-color: #428BCA;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

#flash {
  -moz-animation-duration: 400ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  
  -webkit-animation-duration: 400ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-moz-keyframes blink {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
}

label {
    display: inline; /* add this */
    padding-top: 15px;
    margin-right: 5px;
    font-weight: normal;
}
